<div class="container">
  <%= link_to :back  do %>
    <h3 class="btn btn-danger text-white"> << Back </h3>
  <% end %>
  <div class="card text-bg-dark" style >
    <img class="card-img" src="https://www.partnertechcorp.com/wp-content/uploads/2020/03/200305-PTU-Cinemas.jpg" alt="Card image"  style="height: 350px; width:100%">
    <div class="card-img-overlay">
      <h2 class="card-title"><%= @list.name %></h2>
    </div>
  </div>

</div>
