// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/navbar.scss";

h1{
  padding: 0px;
  margin: 0px;
}
ul{
  padding: 0px;
  margin: 0px;
}
body {
  background-image: url('https://img.freepik.com/free-vector/cinema-movie-doodle-seamless-pattern-clapboard-camera-video-cinematography-pattern_1284-51637.jpg?w=2000');
  background-size: 500px;
  background-repeat: repeat;
}
